<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario CENTRO MEDICO</title>
    <link rel="stylesheet" href="/stylesheets/style-formulario.css">

</head>

<body>
    <header>
        <h1>CENTRO MEDICO</h1>
    </header>
    <main>
        <form action="./agregar" method="post">
            {{{body}}}
            <input type="submit" value="Enviar">
        </form>
    </main>
<img src="https://img.freepik.com/vector-gratis/medicos-enfermeras-dibujos-animados_52683-59918.jpg" alt="">
</body>

</html>